.DS_Store
.project
.settings/
.classpath
.DS_Store
target/
mina/target/*
mina/.classpath

mina/.DS_Store

Mess/.project

mina/.settings/

mina/target/classes/*

mina/target/classes/META-INF/maven/com.rooney/mina/pom.properties

mina/target/classes/META-INF/maven/com.rooney/mina/pom.xml
