<configuration>
	<!--property name="LOG_PATTERN" value="%d [%thread] %-5level %logger{36} - [%X{cid} %X{bid}] - %msg%n" / -->
	<!--Property Name="Log_pattern" Value="%D [%Thread] %-5level %Logger{36} - [{&Quot;Cid&Quot;:&Quot;%X{Correlation-Id}&Quot;,&Quot;Jobid&Quot;:&Quot;%X{Jobid}&Quot;,&Quot;Bf&Quot;:&Quot;%X{Business-Function}&Quot;}] - %Msg%N" / -->
<!-- 	<property name="LOG_PATTERN" value="%d [%thread] %-5level %logger{36} - %msg - [{&quot;cid&quot;:&quot;%X{correlationId}&quot;,&quot;jobId&quot;:&quot;%X{jobId}&quot;,&quot;bf&quot;:&quot;%X{Business-Function}&quot;}]%n" /> -->
	<property name="LOG_PATTERN" value="%d [%thread] %-5level %logger{36} - [{&quot;cid&quot;:&quot;%X{correlationId}&quot;,&quot;jobId&quot;:&quot;%X{jobId}&quot;,&quot;bf&quot;:&quot;%X{Business-Function}&quot;}] %msg%n" />

	<appender name="FILEA"
		class="ch.qos.logback.core.FileAppender">
		<file>./target/logs/ServiceA.log</file>

		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="FILEB"
		class="ch.qos.logback.core.FileAppender">
		<file>./target/logs/ServiceB.log</file>

		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="FILEC"
		class="ch.qos.logback.core.FileAppender">
		<file>./target/logs/ServiceC.log</file>

		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>


	<appender name="PERF-APPENDER" class="ch.qos.logback.core.FileAppender">
		<file>./target/logs/perf.log</file>

		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>
	
	
	<logger name="PERF_LOGGER" level="DEBUG" additivity="false">
        <appender-ref ref="PERF-APPENDER"/>
    </logger>
	

	<root level="INFO">
		<appender-ref ref="FILEA" />
		<appender-ref ref="FILEB" />
		<appender-ref ref="FILEC" />
	</root>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<root level="debug">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="FILEA" />
 		<appender-ref ref="FILEB" />
 		<appender-ref ref="FILEC" />
	</root>
</configuration>